#u189
{
	color: #7F2A4A;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u190
{
	color: #873856;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u189-5,#u190-5,#u191-5
{
	background-color: transparent;
	color: #7E2848;
	font-size: 17px;
	line-height: 20px;
	font-family: Analecta;
	position: relative;
}

#u191
{
	color: #7E2848;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u93
{
	border-color: #B1466E;
	background-color: #873856;
}

#u93_align_to_page
{
	position: relative;
}

#u101-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 20px;
	font-family: Analecta;
	position: relative;
}

#u117-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: Analecta;
	font-weight: normal;
	position: relative;
}

#u122-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: Analecta;
	position: relative;
}

#u101,#u117,#u122
{
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u149,#u132,#u138
{
	background-color: transparent;
	position: relative;
}

#u156-6
{
	background-color: transparent;
	color: #873856;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

